@section css {
    <link rel="stylesheet" href="~/css/home.css">
}

<!-- Hero section start -->
<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1>
                <span>Healthy Recipes</span>
            </h1>
            <h2>
                <span>from the best chefs</span>
            </h2>
            <h3>
                <span>for all the foodies</span>
            </h3>
        </div>
    </div>
</section>
<!-- Hero section end -->
<!-- Recipes list section start -->
<section class="recipes-list">
    <div class="container">
        <div class="recipes-list__heading">
            <h2 class="recipes-list__title">Latest recipes</h2>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="100">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/1.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Traditional Pizza</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="200">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/2.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Italian home-made pasta</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="300">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/3.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Chesse Cake Tart</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="100">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/4.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Traditional Pizza</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="200">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/5.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Italian home-made pasta</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                 data-aos-delay="300">
                <div class="recipes-list__item">
                    <img src="~/images/recipes/6.jpg" alt="">
                    <div class="recipes-list__info-background">
                        <div class="recipes-list__info">
                            <h3>Chesse Cake Tart</h3>
                            <div class="recipes-list__rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recipes-rating section start -->
<section class="recipes-rating">
<div class="container">
<div class="row">
<div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
     data-aos-delay="0">
    <div class="recipes-rating__col">
        <h2 class="recipes-rating__title">Top rated recipes</h2>
        <ul class="recipes-rating__top">
            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/1.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Italian pasta</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/2.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">French Onion Soup</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/3.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Homemade pasta</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/4.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Onion Soup Gratinee</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/5.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Feta Cheese Burgers</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
     data-aos-delay="150">
    <div class="recipes-rating__col">
        <h2 class="recipes-rating__title">Most liked recipes</h2>
        <ul class="recipes-rating__liked">
            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/6.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Traditional Food</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/7.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Baked Salmon</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/8.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Deep Fried Fish</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/9.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Raw Tomato Soup</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
                <div class="recipes-rating__list-items">
                    <div class="recipes-rating__image">
                        <img src="~/images/thumb/10.jpg" alt="">
                    </div>
                    <div class="recipes-rating__info">
                        <p class="recipes-rating__date"> March 14, 2018 </p>
                        <h3 class="recipes-rating__name">Vegan Food</h3>
                        <ul class="recipes-rating__stars">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-12 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-delay="300">
    <div class="recipes-rating__blog">
        <div class="recipes-rating__blog-image">
            <img src="~/imagesblog/1.jpg" alt="">

            <div class="recipes-rating__content">
                <h3 class="recipes-rating__heading">Italian restaurant Review</h3>
                <p class="recipes-rating__author">By Maria Williams</p>
                <p class="recipes-rating__description">
                    Donec quam felis, ultricies nec, pellente
                    sque
                    eu, pretium quis, sem. Nulla conseq uat massa quis enim.
                </p>
                <p class="recipes-rating__comments">2 comments</p>
            </div>

            <a href="#" class="recipes-rating__icon">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
</div>
</div>
</section>
<!-- Recipes-rating section start -->
<!-- Testimonials section start -->
<section class="testimonials" style="overflow-x: hidden;">
    <div class="testimonials__container">
        <div class="row">
            <div class="col-12 col-lg-6" data-aos="fade-right" data-aos-easing="linear" data-aos-delay="0">
                <div class="testimonials__bg">
                    <div class="testimonials__image">
                        <img src="~/images/thumb/11.jpg" alt="">
                    </div>
                    <div class="testimonials__content">
                        <p class="testimonials__date">March 14, 2018</p>
                        <h3 class="testimonials__title">Feta Cheese Burgers</h3>
                        <ul class="testimonials__rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                        <div class="testimonials__author">
                            <img src="~/imagesauthor.jpg" alt="" class="testimonials__avatar">
                            <p class="testimonials__name">By Janice Smith</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6" data-aos="fade-left" data-aos-easing="linear" data-aos-delay="200">
                <div class="testimonials__bg">
                    <div class="testimonials__image">
                        <img src="~/images/thumb/12.jpg" alt="">
                    </div>
                    <div class="testimonials__content">
                        <p class="testimonials__date">March 14, 2018</p>
                        <h3 class="testimonials__title">Mozarella Pasta</h3>
                        <ul class="testimonials__rating">
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                            <li>
                                <i class="fas fa-star"></i>
                            </li>
                        </ul>
                        <div class="testimonials__author">
                            <img src="~/imagesauthor.jpg" alt="" class="testimonials__avatar">
                            <p class="testimonials__name">By Janice Smith</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials section end -->