@section css{
   <link rel="stylesheet" href="~/css/recipes.css">
}
        <section class="hero">
            <h1 class="hero__title">Recipes</h1>
        </section>
        

        
        <section class="recipes-list">
            <div class="container">
                <div class="recipes-list__heading">
                    <h2 class="recipes-list__title">Latest recipes</h2>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="100">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/1.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Traditional Pizza</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="200">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/2.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Italian home-made pasta</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="300">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/3.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Chesse Cake Tart</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="100">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/4.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Traditional Pizza</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="200">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/5.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Italian home-made pasta</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="300">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/6.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Chesse Cake Tart</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="100">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/7.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Traditional Pizza</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="200">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/8.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Italian home-made pasta</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="300">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/9.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Chesse Cake Tart</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="100">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/10.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Traditional Pizza</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="200">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/11.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Italian home-made pasta</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-easing="ease-in-out"
                        data-aos-delay="300">
                        <div class="recipes-list__item">
                            <img src="~/images/recipes/12.jpg" alt="">
                            <div class="recipes-list__info-background">
                                <div class="recipes-list__info">
                                    <h3>Chesse Cake Tart</h3>
                                    <div class="recipes-list__rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="recipes-list__pagination">
                    <span>01</span>
                    <a href="#">02</a>
                    <a href="#">03</a>
                </div>
            </div>
        </section>
        