@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Logout">Logout</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Login">Login</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Identity" asp-action="Register">Register</a>
        </li>
}
</ul>
